workflows/slack-crawler.json
{
  "name": "Slack Crawler",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.219.108:8080/api/slack/data",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "efa0a4d7-b6e2-49b9-98bc-88f35400c735",
      "name": "Send to Spring Boot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        864
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4a6dfa44-6674-4401-b1f2-1bc0d9d2a7a8",
      "name": "Loop Over Channels1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        1056
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "history",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "filters": {
          "inclusive": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        704,
        1056
      ],
      "id": "a0fbf6f1-d4d4-41ea-8980-d66fead530da",
      "name": "Get Channel History1",
      "webhookId": "49f474e9-6cc6-47d7-b59d-128ddc9c865f",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "QKI1n6UPj9w1Iqxl",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 현재 처리 중인 채널 정보 가져오기\nconst channel = $('Loop Over Channels1').item.json;\n\n// 메시지 히스토리 가져오기\nconst messages = $input.all().map(item => ({\n  ts: item.json.ts,\n  user: item.json.user || null,\n  text: item.json.text || '',\n  subtype: item.json.subtype || null,\n  threadTs: item.json.thread_ts || null,\n  reactions: item.json.reactions || [],\n  files: item.json.files || []\n})).filter(msg => msg.subtype !== 'channel_join'); // system 메시지 제거\n\n// 채널 정보와 메시지를 하나의 객체로 결합\nreturn [{\n  json: {\n    channelId: channel.channelId,\n    channelName: channel.name,\n    isPrivate: channel.isPrivate,\n    created: channel.created,\n    numMembers: channel.numMembers,\n    messages: messages\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        1128
      ],
      "id": "ccdc5ace-84c3-4212-a50a-647654921c51",
      "name": "Format Channel Data1"
    },
    {
      "parameters": {
        "jsCode": "// 모든 채널 데이터를 수집\nconst allChannels = $input.all().map(item => item.json);\n\n// 최종 결과 생성\nconst crawledAt = new Date().toISOString();\nconst result = {\n  crawledAt,\n  channels: allChannels\n};\n\nreturn [{\n  json: result\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        864
      ],
      "id": "ace21f95-0f7e-4e4d-9d68-7eb8f479a99d",
      "name": "Final Merge1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            },
            {}
          ]
        }
      },
      "id": "a0df2e02-f821-4e88-8946-d93529900007",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        1056
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        32,
        1056
      ],
      "id": "b4d7667a-ffe3-4fd8-ad81-5fa3649d49bb",
      "name": "Get many channels1",
      "webhookId": "6982baf2-7401-49b1-acde-1c1a3bb57325",
      "credentials": {
        "slackApi": {
          "id": "QKI1n6UPj9w1Iqxl",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const channels = $input.all();\n\nreturn channels\n  .filter(ch => ch.json.is_member === true)\n  .filter(ch => ch.json.is_archived !== true)\n  .map(ch => ({\n    json: {\n      channelId: ch.json.id,\n      name: ch.json.name,\n      isPrivate: ch.json.is_private || false,\n      created: ch.json.created,\n      numMembers: ch.json.num_members || 0\n    }\n  }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1056
      ],
      "id": "4dc4057d-a7fd-4510-85cb-a72da27beff5",
      "name": "get channel list"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Channels1": {
      "main": [
        [
          {
            "node": "Final Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Channel History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel History1": {
      "main": [
        [
          {
            "node": "Format Channel Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Channel Data1": {
      "main": [
        [
          {
            "node": "Loop Over Channels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Merge1": {
      "main": [
        [
          {
            "node": "Send to Spring Boot API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many channels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many channels1": {
      "main": [
        [
          {
            "node": "get channel list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get channel list": {
      "main": [
        [
          {
            "node": "Loop Over Channels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "331d6cc6-f22b-43e6-9c6f-a950381f2291",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00651a7bd2f9d1b7a31ea26d87844db45b9bab92b49f35e10bdb8303c8510ede"
  },
  "id": "WDFoWitbIlPz9j68gLs2k",
  "tags": []
}