workflows/slack-crawler.json
{
  "name": "Slack Crawler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "ac5aa672-5c38-40e5-a2ab-2d6ab05cc6ae",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -208
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        80,
        -80
      ],
      "id": "3c461b7e-dc6d-4bea-92ed-af552dc9a142",
      "name": "Get many channels1",
      "webhookId": "6982baf2-7401-49b1-acde-1c1a3bb57325",
      "credentials": {
        "slackApi": {
          "id": "U99Bqq7yhLnUQigZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const channels = $input.all();\n\nreturn channels\n  .filter(ch => ch.json.is_member === true)\n  .filter(ch => ch.json.is_archived !== true)\n  .map(ch => ({\n    json: {\n      channelId: ch.json.id,\n      name: ch.json.name,\n      isPrivate: ch.json.is_private || false,\n      created: ch.json.created,\n      numMembers: ch.json.num_members || 0\n    }\n  }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -96
      ],
      "id": "6f7c07e5-122b-4e27-bcdf-9be7962d90e4",
      "name": "get channel list"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches-node-id",
      "name": "Loop Over Channels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "history",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "filters": {
          "inclusive": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        656,
        -96
      ],
      "id": "355c5144-0734-4411-bb30-d016b1f0d250",
      "name": "Get Channel History",
      "webhookId": "49f474e9-6cc6-47d7-b59d-128ddc9c865f",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "U99Bqq7yhLnUQigZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 현재 처리 중인 채널 정보 가져오기\nconst channel = $('Loop Over Channels').item.json;\n\n// 메시지 히스토리 가져오기\nconst messages = $input.all().map(item => ({\n  ts: item.json.ts,\n  user: item.json.user || null,\n  text: item.json.text || '',\n  subtype: item.json.subtype || null,\n  threadTs: item.json.thread_ts || null,\n  reactions: item.json.reactions || [],\n  files: item.json.files || []\n})).filter(msg => msg.subtype !== 'channel_join'); // system 메시지 제거\n\n// 채널 정보와 메시지를 하나의 객체로 결합\nreturn [{\n  json: {\n    channelId: channel.channelId,\n    channelName: channel.name,\n    isPrivate: channel.isPrivate,\n    created: channel.created,\n    numMembers: channel.numMembers,\n    messages: messages\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "format-channel-data-id",
      "name": "Format Channel Data"
    },
    {
      "parameters": {
        "jsCode": "// 모든 채널 데이터를 수집\nconst allChannels = $input.all().map(item => item.json);\n\n// 최종 결과 생성\nconst crawledAt = new Date().toISOString();\nconst result = {\n  crawledAt,\n  channels: allChannels\n};\n\nreturn [{\n  json: result\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -96
      ],
      "id": "final-merge-id",
      "name": "Final Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many channels1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many channels1": {
      "main": [
        [
          {
            "node": "get channel list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get channel list": {
      "main": [
        [
          {
            "node": "Loop Over Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Channels": {
      "main": [
        [
          {
            "node": "Get Channel History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel History": {
      "main": [
        [
          {
            "node": "Format Channel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Channel Data": {
      "main": [
        [
          {
            "node": "Loop Over Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "121ccec6-5f18-4409-9b58-143e105dfbd0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec4a355630b0eb90b27ad0b61e1b32a6e6fa2e14e548a145a58881190327ba74"
  },
  "id": "5sn96V9RXCgzOr2pBaGsy",
  "tags": []
}